body {
	text-align: center;
}

.link-sair {
	display: inline-block;
	font-size: 1.1rem;
	text-decoration: none;
	color: #fff;
	background-color: #3192e7;
	padding: .8rem 1rem;
	border-radius: .5rem;
	margin-top: 2rem;
	transition: .5s;
}