/* Área do site */
.area-site {
	width: 90%;
	margin: 3rem auto;
}

/* Cabeçalho */
.cabecalho {
	text-align: center;
	margin-bottom: 2rem;
}

/* Seção do formulário */
.secao-form {
	background-color: #fff;
	width: 25rem;
	max-width: 100%;
	padding: 1rem;
	border: 1px solid #ddd;
	margin: auto auto 2rem;
}

.cabecalho-sec-form {
	text-align: center;
	margin-bottom: 1.2rem;
}

.img-usuario {
	display: inline-block;
	width: 6rem;
	margin-bottom: 1rem;
}

.area-campos {
	margin-bottom: 1rem;
}

.label {
	display: inline-block;
	font-size: 1.1rem;
	margin-bottom: .5rem;
}

.campo-obrigatorio {
	color: #ff0000;
}

.campo {
	display: block;
	font-size: 1rem;
	width: 100%;
	padding: .8rem;
	border: 1px solid #ddd;
	margin-bottom: .5rem;
}

.campo:focus {
	outline: 0;
}

.msg-erro {
	display: block;
	font-size: .9rem;
	color: #ff0000;
	margin-bottom: .5rem;
}

.area-campo-mostrar-senha {
	display: flex;
	align-items: center;
	gap: .3rem;
}

.label-mostrar-senha {
	font-size: .9rem;
}

.btn-submit {
	display: block;
	font-size: 1.2rem;
	color: #fff;
	background-color: #3192e7;
	padding: .8rem 1rem;
	border-radius: .5rem;
	margin: auto;
	cursor: pointer;
	transition: .5s;
}

.btn-submit:hover {
	background-color: #2588e0;
}

/* Rodapé */
.rodape {
	text-align: center;
}

.creditos-autor {
	font-style: italic;
	margin-bottom: .7rem;
}

.link-creditos-img {
	text-decoration: none;
	color: #2588e0;
}

.link-creditos-img:hover {
	text-decoration: underline;
}

/* Estilos adicionais (JavaScript) */
.erro {
	border-color: #ff0000;
}

